{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class='row'>
    <div class="col">
      <div class="text-center">
        <h1 class='title text-center'>Welcome {{ username }}</h1>
      </div>
      <div class='text-center'>
        <img src="{{ image }}">
      </div>
      <div class='text-center'>
        <h2>Question: {{ question_number }}</h2>

        <p>{{ question }}</p>
        <div class='form_and_btns'>
        <form method='POST'>

          <input type='text' name='user_answer'>
          <button class='btn btn-success' type='submit' name="submit_btn" value='submit'>Submit</button> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
          <h3>{{ message }}</h3>
          <h4>Click 'Next' to continue</h4>
          <button class='btn btn-primary' type='submit' name="submit_btn" value='next'>Next</button> {% endfor %} {% endif %} {% endwith %}
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
